:root {
	--color-primary-accent: #ce2727;
	--color-secondary-accent: #e28112;
	--color-tertiary-accent: #ecd714;
}

body {
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	background-color: #000000;
	overflow-x: hidden;
	font-size: 100%;
	width: 100%;
}

code {
	font-family: "JetBrains Mono", monospace;
}

header {
	width: calc(100vw - 48px);
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 8px;
	left: 8px;
}

.mistertfy64 {
	width: 512px;
}

.subtitle {
	margin: 0;
	font-size: 300%;
	font-weight: normal;
	font-style: italic;
	/* background-clip: text; */
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: #ffffff;
	/* text-shadow: 2px 2px 2px #eeeeee; */
}

.no-select {
	user-select: none;
}

.title {
	width: 40%;
	text-align: left;
}

.metadata {
	width: 60%;
	text-align: right;
	background-color: transparent;
	margin-right: 8px;
}

.text--primary-accent {
	color: var(--color-primary-accent);
}

.text--secondary-accent {
	color: var(--color-secondary-accent);
}

.text--tertiary-accent {
	color: var(--color-tertiary-accent);
}

.entries {
	width: calc(100vw - 16px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.entry__body {
	width: 100%;
	display: flex;
}

.entry__description {
	width: 70%;
	margin: 0px 4px;
}

.entry__id {
	display: flex;
	align-items: center;
	margin: 4px;
}

.entry__id code {
	vertical-align: middle;
}

.entry__header {
	text-align: right;
	display: flex;
	justify-content: space-between;
}

.entry__title span {
	margin-left: 4px;
}

.entry {
	border: 2px solid #ffffff;
	border-radius: 4px;
	width: 480px;
	margin: 4px;
}

.entry__main {
	background-color: #ffffff;
}

a {
	text-decoration: underline;
	color: inherit;
}

/* SMALLER SCREENS */
@media only screen and (max-width: 768px) {
	header {
		flex-direction: column;
		width: 100%;
	}

	.subtitle {
		width: 100%;
		font-size: 12.5vw;
	}

	.mistertfy64 {
		width: 80vw;
	}

	.metadata {
		width: calc(100% - 24px);
	}

	.entries {
		width: 95%;
		display: flex;
		justify-content: center;
	}

	.entry {
		width: min(100%, 480px);
	}

	.entry__image {
		height: auto !important;
		width: 100% !important;
		text-align: center;
	}

	.entry__image img {
		width: calc(100% - 8px) !important;
		height: auto !important;
	}

	.entry__body {
		flex-direction: column;
	}

	.entry__description {
		width: calc(100% - 8px) !important;
	}

	.entry__information {
		width: calc(100% - 8px) !important;
	}
}

/* BASE COLOR */

.entry__level {
	background-color: #ffffff;
	color: #000000;
	padding: 4px;
	vertical-align: middle;
}

.entry__title {
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	font-size: 200%;
}

.entry__image {
	height: 256px;
	background-color: #ffffff;
	padding: 8px 0px 16px 0px;
	text-align: center;
}

.entry__image img {
	height: auto;
	width: 100%;
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 4px;
}

.entry__information {
	width: 30%;
	margin-right: 4px;
	text-align: right;
	/*
border-left: 2px solid #ffffff;
	border-bottom
: 2px solid #ffffff;*/
}

/* PRIMARY ACCENT COLOR */

.entry.entry--primary-accent .entry__level {
	background-color: var(--color-primary-accent);
	color: #000000;
	padding: 4px;
	vertical-align: middle;
}

.entry.entry--primary-accent .entry__title {
	background-color: var(--color-primary-accent);
	color: #000000;
	width: 100%;
	font-size: 200%;
}

.entry.entry--primary-accent .entry__image {
	height: 256px;
	background-color: var(--color-primary-accent);
	padding: 8px 0px 16px 0px;
	text-align: center;
}

.entry.entry--primary-accent .entry__image img {
	height: 100%;
	width: auto;
	background-color: var(--color-primary-accent);
	border: 2px solid #000000;
	border-radius: 4px;
}

.entry.entry--primary-accent .entry__information {
	width: 30%;
	margin-right: 4px;
	text-align: right;
	/*
border-left: 2px solid var(--color-primary-accent);
	border-bottom
: 2px solid var(--color-primary-accent);*/
}

.entry.entry--primary-accent {
	color: var(--color-primary-accent);
	border-color: var(--color-primary-accent);
}

.entry.entry--primary-accent .entry__main {
	background-color: var(--color-primary-accent);
}

/* SECONDARY ACCENT COLOR */

.entry.entry--secondary-accent .entry__level {
	background-color: var(--color-secondary-accent);
	color: #000000;
	padding: 4px;
	vertical-align: middle;
}

.entry.entry--secondary-accent .entry__title {
	background-color: var(--color-secondary-accent);
	color: #000000;
	width: 100%;
	font-size: 200%;
}

.entry.entry--secondary-accent .entry__image {
	height: 256px;
	background-color: var(--color-secondary-accent);
	padding: 8px 0px 16px 0px;
	text-align: center;
}

.entry.entry--secondary-accent .entry__image img {
	height: 100%;
	width: auto;
	background-color: var(--color-secondary-accent);
	border: 2px solid #000000;
	border-radius: 4px;
}

.entry.entry--secondary-accent .entry__information {
	width: 30%;
	margin-right: 4px;
	text-align: right;
	/*
border-left: 2px solid var(--color-secondary-accent);
	border-bottom
: 2px solid var(--color-secondary-accent);*/
}

.entry.entry--secondary-accent {
	color: var(--color-secondary-accent);
	border-color: var(--color-secondary-accent);
}

.entry.entry--secondary-accent .entry__main {
	background-color: var(--color-secondary-accent);
}

/* TERTIARY ACCENT COLOR */

.entry.entry--tertiary-accent .entry__level {
	background-color: var(--color-tertiary-accent);
	color: #000000;
	padding: 4px;
	vertical-align: middle;
}

.entry.entry--tertiary-accent .entry__title {
	background-color: var(--color-tertiary-accent);
	color: #000000;
	width: 100%;
	font-size: 200%;
}

.entry.entry--tertiary-accent .entry__image {
	height: 256px;
	background-color: var(--color-tertiary-accent);
	padding: 8px 0px 16px 0px;
	text-align: center;
}

.entry.entry--tertiary-accent .entry__image img {
	height: 100%;
	width: auto;
	background-color: var(--color-tertiary-accent);
	border: 2px solid #000000;
	border-radius: 4px;
}

.entry.entry--tertiary-accent .entry__information {
	width: 30%;
	margin-right: 4px;
	text-align: right;
	/*
border-left: 2px solid var(--color-tertiary-accent);
	border-bottom
: 2px solid var(--color-tertiary-accent);*/
}

.entry.entry--tertiary-accent {
	color: var(--color-tertiary-accent);
	border-color: var(--color-tertiary-accent);
}

.entry.entry--tertiary-accent .entry__main {
	background-color: var(--color-tertiary-accent);
}
