body {
	font-family: "JetBrains Mono", monospace;
	color: #ffffff;
	background-color: #1a1a1a;
	overflow-x: hidden;
	font-size: 100%;
	width: 100%;
}

#certificates {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#header {
	font-weight: bold;
	margin: 4px 4px 4px 0;
	font-size: 150%;
}

.text--small {
	font-size: 80%;
}

.entry {
	max-width: 432px;
	text-align: center;
	padding: 8px;
}

a {
	color: #ffffff !important;
}

.certificate {
	width: 80%;
	height: auto;
	padding: 0 8px;
}
.text--name {
	font-size: 125%;
	margin: 0;
	padding: 0 4px;
}

.text--description {
	font-size: 100%;
	margin: 0;
	padding: 0 4px;
}

.text--comment {
	font-size: 80%;
	margin: 0;
	padding: 0 4px;
}

.link--image {
	width: fit-content;
	height: fit-content;
	text-decoration: none;
}
